.root {
    -fx-font-family: 'Segoe UI', 'System', sans-serif;
}

.text-field, .password-field {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.3);
    -fx-border-color: rgba(255,255,255,0.1);
    -fx-border-radius: 15;
    -fx-padding: 12 15;
    -fx-font-size: 14px;
    -fx-transition: all 0.3s ease;
}

.text-field:hover, .password-field:hover {
    -fx-border-color: rgba(102, 126, 234, 0.5)}

/* خوش‌گل کردن گزینه‌های داخل منوی کاربر */
.menu-item .label {
    -fx-text-fill: #ffffff;
}
.context-menu {
    -fx-background-color: #201a46;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
.menu-item:focused {
    -fx-background-color: linear-gradient(to right, #f093fb, #f5576c);
}

/* رفع سفیدی پیش‌فرض ردیف‌های لیست آگهی */
.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 10px;
}
.list-view .list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}
.list-view .list-cell:filled:selected {
    -fx-background-color: rgba(245, 87, 108, 0.2);
    -fx-text-fill: white;
}
/* روشن و سفید کردن متن اصلی دکمه منوی کاربر */
.menu-button {
    -fx-text-fill: #ffffff !important;
}

/* روشن کردن متن در حالت‌های مختلف ساختار داخلی دکمه */
.menu-button .label {
    -fx-text-fill: #ffffff !important;
}

/* روشن و سفید کردن آیکون فلش (Arrow) کنار نام کاربر */
.menu-button .arrow-button .arrow {
    -fx-background-color: #ffffff !important;
}
/* هدف‌گیری مستقیم متن دکمه با آیدی اختصاصی */
#customMenuButton .label {
    -fx-text-fill: #ffffff !important;
}

/* سفید کردن آیکون فلش کوچک کنار نام کاربر */
#customMenuButton .arrow-button .arrow {
    -fx-background-color: #ffffff !important;
}

/* تغییر رنگ متن دکمه در صورت هاور شدن (اختیاری و شیک) */
#customMenuButton:hover .label {
    -fx-text-fill: #ff758c !important; /* وقتی موس میره روش صورتی درخشان میشه */
}
#customMenuButton:hover .arrow-button .arrow {
    -fx-background-color: #ff758c !important;
}